<div class="main-div">


<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
 
    <mat-card-content>
      <form>
        <table class="" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="field">
              <input matInput placeholder="Gebruikersnaam" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="field">
            <input matInput placeholder="Wachtwoord" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field></td>
        </tr>
    </table>
    </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>

</div>