
<div id="tabs">
  <dx-tabs [dataSource]="tabs" (onItemClick)="clickTab($event)" [selectedIndex]=0></dx-tabs>
</div>

<div class="Row">
  <div class="Column">
    <mat-card class="card">
      <h1>Totaal Energieverbruik van een {{timespan}}</h1>
      <h2>{{energyService.getTotalEnergy()}} KwH</h2>
    </mat-card>
  </div>

  <div class="Column">
    <mat-card class="card">
      <h1>Kosten Energieverbruik van een {{timespan}}</h1>
      <h2>{{energyService.getTotalPrice()}} Euro</h2>
    </mat-card>
  </div>

  <div class="Column">
    <mat-card class="card">
      <h1>Meest recente meting: {{datePipe.transform(energyService.getLatest().date, 'M/d/yy, H:mm')}} </h1>
      <h2>Energieverbruik: {{energyService.getLatest().kwh}} KwH</h2>
    </mat-card>
  </div>

</div>

<mat-card class="card"> 
<dx-chart id="chart"
  [dataSource]="energyService.getEnergiesGraph()" title="Stroomgebruik" *ngIf=energyService.getEnergiesGraph()>
  
  <dxi-series argumentField="date" valueField="kwh" name="KwH" type="bar" color="#ffaa66"></dxi-series>
  <dxo-argument-axis title="Datum">
  <dxo-label [customizeText]="argumentCustomizeText"></dxo-label></dxo-argument-axis>
  <dxi-value-axis title="in KwH"></dxi-value-axis>

  <dxo-zoom-and-pan
        argumentAxis="none"        
        valueAxis="none"> <!-- or "zoom" | "pan" | "none" -->
    </dxo-zoom-and-pan>
</dx-chart>
</mat-card>

<mat-card class="card"> 
<dx-chart id="chart"
  [dataSource]="temperatureService.getTemperaturesGraph()" title="Temperatuur" *ngIf=temperatureService.getTemperaturesGraph()>
  
  <dxi-series argumentField="date" valueField="temp" name="Celcius" type="bar" color="#ffaa66"></dxi-series>
  <dxo-argument-axis title="Datum">
  <dxo-label [customizeText]="argumentCustomizeText"></dxo-label></dxo-argument-axis>
  <dxi-value-axis title="in Celcius"></dxi-value-axis>

  <dxo-zoom-and-pan
        argumentAxis="none"        
        valueAxis="none"> <!-- or "zoom" | "pan" | "none" -->
    </dxo-zoom-and-pan>
</dx-chart>
</mat-card>
