
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>EMON Project - Jordy van Raalte & Ian Vink</span>
        <span class="spacer"></span>
        
        <mat-icon-button class="transparant" [matMenuTriggerFor]="menu">
          <mat-icon class="icon-color">more_vert</mat-icon>
        </mat-icon-button>
        <mat-menu #menu="matMenu">
          <mat-button (click)="logout()" mat-menu-item>Logout</mat-button>
        </mat-menu>
        
      </mat-toolbar-row>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
